<template>
  <div ref="subject" />
</template>

<script lang="ts">
import { ref, defineComponent, onMounted } from 'vue';
import gsap from 'gsap'
import { TextPlugin } from 'gsap/TextPlugin';
import { Back, Quint } from "gsap/gsap-core";

gsap.registerPlugin(TextPlugin);

export default defineComponent({
  props: {
    text: {
      type: String,
      required: true
    },
    delay: {
      type: Number,
      default: 0
    }
  },
  setup(props) {
    const subject = ref<HTMLDivElement | null>(null)
    onMounted(() => {
      setTimeout(() => {
        if (subject.value) {
          subject.value.classList.add('blinking')
        }
      }, (props.delay || 0) * 1000)

      gsap.to(subject.value, {
        duration: props.delay ? 1.8: 2.1,
        delay: props.delay || .8,
        text: props.text,
        ease: props.delay ? Back.easeIn : Quint.easeOut,
        onComplete() {
          setTimeout(() => {
            if (subject.value) {
              subject.value.classList.remove('blinking')
            }
          }, props.delay ? 1200 : 700);
        }
      })
    });
    return { subject };
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
div {
  font-size: 2.4rem;
  border-right: 2px solid transparent;
}
::v-deep {
  span {
    color: transparent;
  }
}
.blinking {
  height: 51px;
  border-right: 2px solid;
  animation: .8s blinking infinite;
}
@keyframes blinking {
  0% { border-right-color: currentColor;}
  75% { border-right-color: currentColor;}
  85% { border-right-color: transparent; }
  100% { border-right-color: transparent; }
}

</style>
