<template>
  <template v-if="isLogoVisible">
    <AnimatedText text="codemonk" />
    <AnimatedText text=".digital" :delay="4.2" />
  </template>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import AnimatedText from './components/AnimatedText.vue';

export default defineComponent({
  name: 'App',
  components: {
    AnimatedText
  },
  setup() {
    let isLogoVisible = ref(false);
    onMounted(() => {
      setTimeout(() => {
        isLogoVisible.value = true;
      }, 1e3);
    })
    return { isLogoVisible }
  }
});
</script>

<style lang="scss">
body {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #cde;
  margin: 0;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > h1 {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    span {
      color: #444;
    }
  }
}
</style>
